.button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 1.2;
  font-weight: normal;
  font-family: 'Kalam', cursive;
  font-size: 18px;
  background-color: rgb(129, 165, 97);
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid rgb(80, 98, 64);
  cursor: pointer;
  margin: 2%;
}

.button:hover {
  background-color: rgb(129, 165, 97);
  border-color: rgb(80, 98, 64);
}

.button > strong {
  font-size: 24px;
}

.FormGroup{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form input{
  height:20px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonGroup{
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  max-width: 200px;
  max-height: 200px;
}

.prodotto img{
  max-width: 200px;
  max-height: 200px;
}

.prodotto h4{
  font-size: 30px;
}

.prodotto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen  and (max-width: 800px) {
  .prodotto{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .buttonGroup{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
