.BarUp{
  background-color: rgb(129, 165, 97);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
 }

.Menu{
  display: flex;
  flex-direction: column;
  font-size: 40px;
  align-items: center;
  justify-content: center;
}


.Link{
  display: flex;
  flex-direction: column;
  font-size: 25px;
  position: absolute;
  left: 80%;
}

.Link a{
  padding: 1%;
  color: white;
}

.Link2{
  display: flex;
  flex-direction: column;
  font-size: 25px;
  position: absolute;
  right: 80%;
}

.Link2 a{
  padding: 1%;
  color: white;
}

.Home-Page{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
}

.Carrello{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}


@media only screen  and (max-width: 800px) {
  .BarUp
    {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      text-align: center;
      height: 200px;
    }

    .Link2{
      display: flex;
      flex-direction: column;
      font-size: 15px;
      position: absolute;
      right: 65%;
    }

    .Link{
      display: flex;
      flex-direction: column;
      font-size: 15px;
      position: absolute;
      right: 70%;
    }

    .Menu img{
      width: 40%;
    }
}
