.Button404{
  background-color:    rgb(129, 165, 97);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Error404 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30vh;
  padding-bottom: 30vh;
}
